#buffers {
  -fx-background-color: rgba(200,250,00,.5);
}

#buffers Label {
  -fx-border-radius: 40px;
  -fx-text-fill: #333333;
  -fx-font: 16px Iosevka, monospace;
  -fx-padding: 3px;
}

#tip {
  -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}

#tip, #txtURL {
  -fx-font: 16px Iosevka, monospace;
  -fx-text-inner-color: #aaff00;
  -fx-text-fill: #aaff00;
  -fx-background-color: linear-gradient(to bottom, #333, #000),
                        linear-gradient(from 0px 0px to 0px 5px, #333, #000);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
  -fx-cursor: text;
}

#tip:disabled, #txtURL:disabled {
  -fx-opacity: 1.0;
  -fx-font: 16px Iosevka, monospace;
  -fx-text-inner-color: #aaff00;
  -fx-text-fill: #aaff00;
  -fx-background-color: linear-gradient(to bottom, #333, #000),
                        linear-gradient(from 0px 0px to 0px 5px, #333, #000);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
  -fx-cursor: text;
}

Button {
  -fx-background-color: linear-gradient(to bottom, #aaff00, #aaff00),
                        linear-gradient(from 0px 0px to 0px 5px, #aaff00, #aaff00);
  -fx-font: 16px Iosevka, monospace;
  -fx-text-fill: black;
}

Button:hover, Button:focused {
}

.text-input {
  -fx-text-fill: -fx-text-inner-color;
  -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
  -fx-highlight-text-fill: -fx-text-inner-color;
  -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
                        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
  -fx-cursor: text;
  -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}
.text-input:focused {
  -fx-highlight-fill: -fx-accent;
  -fx-highlight-text-fill: white;
  -fx-background-color:
    -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: -0.2, 1, -1.4, 3;
  -fx-background-radius: 3, 2, 4, 0;
  -fx-prompt-text-fill: transparent;
}
